@font-face {
    font-family: "Cambria";
    src: url(./fonts/Cambria.ttf), url(./fonts/cambriab.ttf), url(./fonts/CAMBRIAZ.TTF) url(./fonts/CAMBRIAI.TTF);
}

*,::before,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Cambria, sans-serif;
    background: rgb(219, 229, 242);
    color: rgb(89, 140, 157);
    line-height: 1.5;
    font-size: 1rem;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

h1, h2, h3, h4{
    letter-spacing: 0.1rem;
}

h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.25rem;
}
h4{
    font-size: 0.9rem;
}

nav{
    display: flex;
    justify-content: space-between;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    background: rgb(164, 233, 251);
    border: 0;
    border-radius: .2rem;
    transition: all 0.3s linear;
}

.name{
    font-size: 2rem;
    color: rgba(190, 0, 0, 0.636);
    padding: 0 1rem;
    margin: .5rem;
}

.logo > img{
    height: 50px;
}

.logo{
    height: 50px;
    padding: 0 1rem;
    margin: .5rem;
}

main{
    margin: 2rem;
}

/* About */

.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 0.1rem;
    transition: all 0.3s linear;
    margin: 3rem 0;
}

.image{
    text-align: center;
    margin: 0 6rem;
}

.para_about{
    margin: 0 4rem;
}

ul > li {
    border-bottom: .1em solid tan;
    color: rgb(116, 147, 157);
}

/* Skills */

.skills{
    margin-bottom: 3rem;
    transition: all 0.3s linear;
}

.codeconSkillbar:hover{
    background-color: rgb(202, 202, 202);
}

/* Project */

.projects{
    display: grid;
    height: 100%;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1rem;
    transition: all 0.3s linear;
}

.project{
    box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.5);
    border: 0;
    border-radius: 1rem;
    background-color: lightslategray;
    color: aliceblue;

    display: grid;
    grid-template-rows: 200px 200px;
    text-align: center;
}

.project:hover{
    transition: all 0.3s ease-in-out;
    transform: translate(10px, 10px);
}

.project img{
    height: 100%;
    width: 100%;
    border-radius: 0 0 1rem 1rem;
}

.project p{
    padding: 0.5rem;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
}

/* Hobby */

.enthusiastic{
    margin: 2rem 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
}

.hobby{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1rem;
    transition: all 0.3s linear;
    justify-content: center;
    align-items: center;
}

.topic{
    box-shadow: 5px 10px 18px green;
    border: 0;
    border-radius: 1rem;
    background-color: lightslategray;
    color: aliceblue;

    display: grid;
    grid-template-rows: 100px 80px;
    text-align: center;
}

.topic:hover{
    box-shadow: 5px 10px 18px red;
}

.topic img{
    height: 100%;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

.topic p{
    font-size: 1.3rem;
    letter-spacing: 0.5rem;
}

.fashion_img{
    transition: all 0.3s linear;
    padding: .5rem;
    border: 0;
    border-radius: 1rem;
    background: rgb(254, 254, 254);;
    box-shadow: 0 0px 3px rgb(144, 255, 33);
}

.fashion_img img{
    width: 350px;
    height: 500px;
    border: 0;
    border-radius: 1rem;
}


/* Footer */

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    background: rgb(255, 255, 255);
    border: 0;
    border-radius: .2rem;
    transition: all 0.3s linear;
}

.copyright{
    margin: 0 2rem;
}

.media ul {
    display: flex;
    margin: 0 2rem;
}

.media li{
    font-size: 1.5rem;
    margin: 1rem;
    color: green;
}

.media  i{
    text-decoration: none;
    color: green;
}

.media i:hover{
   cursor: pointer;
   color: rgb(60, 174, 219);
   font-size: 2rem;
}

@media screen and (max-width: 1100px){
    .about{
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .image{
        margin-bottom: 2rem;
    }

    .para_about{
        margin: 1.5rem;
        text-align: center;
    }
}

@media (min-width: 789px){
    .enthusiastic{
        margin: 3rem 4rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .fashion_img {
        margin-left: 2rem;
    }

    .projects{
        margin: 0 4rem 0 4rem;
    }
}


